# Python
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

.DS_Store

# Specific
config_environment.txt
customer-samples/
venv/
generated-lambda/
pluskube-samples/
sandbox-samples/
